In [61]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine("sqlite:////Users/Amin/Documents/GitHub/Sql_mini_project/sqlite_db_pythonsqlite.db")
con = engine.connect()
print(engine.table_names())

['Bookings', 'Facilities', 'Members']

<ipython-input-61-2192519397db>:5: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [69]:
#Qestion 10
res = con.execute('SELECT f.name,CASE WHEN b.memid = 0 THEN f.guestcost*b.slots ELSE f.membercost*b.slots END AS Revenue FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid')
df = pd.DataFrame(res.fetchall())


df.columns = res.keys()
df = df.groupby('name').sum()
df1 = df[df['Revenue']<1000]
print(df1.sort_values(by='Revenue'))

df2 = df[df['Revenue']>1000]
print(df2.sort_values(by='Revenue'))

               Revenue
name
Table Tennis     180.0
Snooker Table    240.0
Pool Table       270.0
                 Revenue
name
Badminton Court   1906.5
Squash Court     13468.0
Tennis Court 1   13860.0
Tennis Court 2   14310.0
Massage Room 2   14454.6
Massage Room 1   50351.6

In [115]:
res1 = con.execute('SELECT DISTINCT m1.firstname as firstname1,m1.surname AS surname1,m2.firstname AS firstname2,m2.surname AS surname2 FROM Members as m1 LEFT JOIN Members as m2 ON m1.recommendedby=m2.memid')
name = pd.DataFrame(res1.fetchall())
name.columns = res1.keys()
name['Member'] = name['firstname1']+' '+name['surname1']
name['Recommender'] = name['firstname2']+' '+name['surname2']
print(name[['Member','Recommender']])

                     Member        Recommender
0               GUEST GUEST                NaN
1              Darren Smith                NaN
2               Tracy Smith                NaN
3                Tim Rownam                NaN
4           Janice Joplette       Darren Smith
5            Gerald Butters       Darren Smith
6              Burton Tracy                NaN
7                Nancy Dare    Janice Joplette
8                Tim Boothe         Tim Rownam
9           Ponder Stibbons       Burton Tracy
10             Charles Owen       Darren Smith
11              David Jones    Janice Joplette
12               Anne Baker    Ponder Stibbons
13           Jemima Farrell                NaN
14               Jack Smith       Darren Smith
15           Florence Bader    Ponder Stibbons
16            Timothy Baker     Jemima Farrell
17             David Pinker     Jemima Farrell
18          Matthew Genting     Gerald Butters
19           Anna Mackenzie       Darren Smith
20              Joan Coplin      Timothy Baker
21         Ramnaresh Sarwin     Florence Bader
22            Douglas Jones        David Jones
23         Henrietta Rumney    Matthew Genting
24            David Farrell                NaN
25  Henry Worthington-Smyth        Tracy Smith
26        Millicent Purview        Tracy Smith
27      Hyacinth Tupperware                NaN
28                John Hunt  Millicent Purview
29            Erica Crumpet        Tracy Smith

In [144]:
res2=con.execute('SELECT f.name,b.slots FROM Bookings as b INNER JOIN Facilities as f on b.facid=f.facid WHERE b.memid>0')
usaige = pd.DataFrame(res2.fetchall())
usaige.columns=res2.keys()
usaige['Hourly_Usage']=usaige['slots']*0.5
group= usaige.groupby(['name']).sum()
print(group['Hourly_Usage'].sort_values(ascending=False))

name
Badminton Court    543.0
Tennis Court 1     478.5
Massage Room 1     442.0
Tennis Court 2     441.0
Snooker Table      430.0
Pool Table         428.0
Table Tennis       397.0
Squash Court       209.0
Massage Room 2      27.0
Name: Hourly_Usage, dtype: float64